*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway","AkbalthomNaga","Work Sans","Helvetica Neue",Arial,sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box{
    height: 550px;
    width: 80%;
    background-color: white;
    max-width: 800px;
    border-radius: 3px;
    transition: 0.15s;
}

.box .nav{
    width: 100%;
   
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.nav button{
    width: 20%;
    height: 35px;
    border: 0;


}

.turntowhite{
    color: white;

}








.box .selecttype{
    width: 100%;
    height: 10%;
    
    display: flex;
    justify-content: center;
    align-items: center;  

}
.selecttype select{
    width: 50%;
    height: 40px;
    border-radius: 5px;
    background-color: gainsboro;
}
.selecttype select{font-size: 20px;padding-left: 10px;}


/* input value section */
.inputvalue{
    width: 100%;
    height: 40%;
}



.upper-part{
    width: 100%;
    height: 35%;
    display: flex;
}
.inputvalue .input-salary{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
   
}
.inputvalue .input-fringe_benefit{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
   

}
.bottom-part{
    width: 100%;
    height: 35%;
    display: flex;
}

.bottom-part .input-children{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.bottom-part .input-spouse{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.inputvalue .choose-method{
    width: 100%;
    height: 30%;
 
}
.choose-method .payment{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center
    
}

.payment div{
    width: 40%;
    height: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: gainsboro;
    margin: 0px 40px 0px 40px;
    text-align: center;

}

#ex-rate{
    width: 40%;
    height: 60%;
    margin: 0px 35px 0px 35px;
    background-color: gainsboro;
    display: none;
}

.riel:active{
    background-color: white;
}
.usd:active{
    background-color: white;
}


input{
    width: 80%;
    height: 40px;
    border: 0;
    border-radius: 5px;
    background-color: gainsboro;
    padding-left: 30px;
    font-size: 15px;
    
}

/* result section */

.button-section{
    width: 100%;
    height:10%;
    display: flex;
    justify-content: center;
    align-items:flex-end;
}

.button-section button{
    width: 150px;
    height: 70%;  
    margin: 0px 5px 0px 5px;
    border-radius: 50px;
    border: 0;
    background-color: rgb(42, 42, 141);
    font-size: 20px;
    color: white;
}


.result-section{
    width: 100%;
    height: 30% ;
}
.tax-section{
    width: 100%;
    height: 20%;
    
}    

.tax-rate-section{
    width: 100%;
    height: 20%;
    
}

.tax-on-salary-section{
    width: 100%;
    height: 20%;
    
}

.tax-on-fringe-benefit-section{
    width: 100%;
    height: 20%;
  
}
.net-salary-section{
    width: 100%;
    height: 20%;
   
}

@media screen and (max-width: 510px) {
    .payment div{
        font-size: 18px;
    }
    .inputvalue h2{
        font-size: 20px;

    }
    .container .box{
        width: 100%;
        border-radius: 0;

    }


}

.hide{
    display: none;
}
.show{
    display: block;
}

.change{
    background-color: aqua;
   
}






