* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  background-color: gainsboro;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  flex-direction: column;
}

.menu{
    width: 100%;
    display: flex;
    height: auto;
    justify-content: center;
    
}

.menu button{
    border: 0;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
}

.row {
  display: flex;
}

.box {
  width: 100px;
  height: 100px;
  background-color: whitesmoke;
  border-radius: 20px;
  margin: 10px;
  display: grid;
  place-items: center;
  
}

.board p {
  font-size: 80px;
  color: gold;
}



.board h5{
    font-size: 40px;
    color: green;

}
